/* Google FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* 
    common styles
*/
.arrow {
    margin-left: 8px;
}


/* ------------
Header Styles 
------------ */
header {
    padding: 10vh;
}

.influencer-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.for-responsive {
    display: none;
}

.influencer-products h2 {
    font-size: 1.5em;
}

nav ul {
    display: flex;
    column-gap: 34px;
    justify-content: space-between;
    list-style: none;
}

/* -----------
Banner Styles 
----------- */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 338px;
}

.banner-description h1 {
    font-size: 3.3em;
}

.banner-description p {
    margin-bottom: 22px;
}

.banner-description a {
    text-decoration: none;
    color: #FFF;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
}

.banner-image-div {
    position: relative;
    border: 3px solid #f1e4ff;
    border-radius: 50%;
    top: 23vh;
}

.banner-image img {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.circle {
    position: absolute;
    background: #f1e4ff;
    height: 55vh;
    width: 55vh;
    border-radius: 50%;
    top: 38vh;
    left: 117vh;
}

/* Banner Bottom */
.banner-bottom {
    margin-top: 30vh;
}

.banner-bottom-img {
    display: flex;
    justify-content: space-around;
    margin: 4vh 10vh;
}

/* ------------------
Popular Collection 
------------------ */
.popular-collection h2 {
    text-align: center;
    font-size: 24px;
}

.popular-collection-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin: 10vh 20vh 6vh 20vh;
}

.popular-collection-item {
    padding: 17px 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.popular-collection-item>img {
    width: 100%;
}

.popular-collection-item h3 {
    font-size: 24px;
}

.popular-collection-item>p {
    font-size: 24px;
}

.star-ratings {
    display: flex;
    gap: 2vh;
    margin-bottom: 2vh;
}

.star-ratings .star .fa-solid {
    width: 11.068px;
    height: 11.068px;
    color: #FB8200;
    margin-right: 1vh;
}

.see-more {
    text-align: end;
    margin-right: 20vh;
}

.see-more a {
    text-decoration: none;
    color: #E02C6D;
    font-weight: 600;
}

/* ------------------------
Featured-products Styles 
------------------------ */
.featured-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10vh 25vh;
    gap: 8vh;
}

.featured-products-description h3 {
    font-size: 1.7em;
    margin-bottom: 1.5vh;
}

.featured-products-description p {
    font-size: .8em;
    margin-bottom: 3.5vh;
}

.featured-products-description a {
    text-decoration: none;
    color: #FFF;
    background: #E02C6D;
    font-weight: 700;
    padding: 10px 24px;
}


/* -------------
Footer styles
------------- */
footer {
    color: #FFF;
    background-color: #0A0826;
    text-align: center;
    padding: 6vh;
}

.footer-description h3 {
    margin-bottom: 8px;
}

.footer-description p {
    font-size: .7em;
    margin-bottom: 10px;
}

.footer-social-link .fa-brands {
    color: #FFF;
}

.footer-social-link .middle {
    margin: 0px 20px;
}


/* ------------------- 
    Responsive Styles
------------------- */

/* For Small devices */
@media only screen and (max-width: 688px) {
    /* Header responsive styles */
    
    header {
        padding: 4vh;
        width: auto;
    }

    .influencer-products {
        display: none;
    }

    .for-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .for-responsive>h2,
    .fa-solid {
        font-size: 1.6em;
    }

    .banner {
        flex-direction: column-reverse;
        height: max-content;
        row-gap: 6vh;
    }

    .banner-image-div {
        top: 3vh;
    }

    .circle {
        position: absolute;
        height: 26vh;
        width: 26vh;
        top: 14vh;
        left: 8vh;
    }

    .banner-description {
        text-align: center;
    }

    .banner-description h1 {
        font-size: 2em;
    }

    .banner-description p {
        font-size: 1.2em;
    }

    .banner-description a {
        display: inline-flex;
    }

    .banner-bottom {
        margin-top: 8vh;
    }

    .banner-bottom-img {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1vh;
        align-items: end;
    }

    .i1 {
        grid-row: 2;
        grid-column: span 1.5;
        justify-self: center;
    }

    .i2 {
        grid-row: 2;
        grid-column: span 2;
        justify-self: center;
    }

    .i3 {
        grid-row: 2;
        grid-column: span 1.5;
        justify-self: center;
    }

    /* Main section responsive styles */

    main {
        width: auto;
    }

    .popular-collection-items {
        grid-template-columns: 1fr;
        margin: 2vh;
    }

    .see-more {
        margin-right: 3vh;
    }

    .see-more a {
        display: flex;
        justify-content: flex-end;
    }

    .featured-products {
        flex-direction: column-reverse;
        margin: 3vh;
        text-align: center;
    }

    .featured-products-description a {
        display: flex;
        justify-content: center;
    }
}